<%= form_with model: @dairy, local: true do |f| %>
  <% if @diary.errors.any? %>
    <div id="error_expranation">
      <h2><%= pluralize(dairy.errors.count, "error")%> prohited this dairy form being saved:</h2>
    
    </div>
      <ul>
          <% f.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
  <% end %>
<% end %>

<%= form_with url: diaries_path, method: :post, local: true do |f|%>
  <div class="filed">
    <%= f.label :title %>
    <%= f.text_field :title , id: :diary_title %>
  </div>
  <div class="filed">
    <%= f.label :body %>
    <%= f.text_area :body, id: :diary_body %>
  </div>
  <div class="action">
    <%= f.submit "submit" %>
  </div>
<% end%>